
<%= form_tag messages_path, method: :post do %>

  <h2>
    Message to :  <%= @chosen_recipient.fullname %> (<%= @chosen_recipient.email %>)
  </h2>

  <div class="form-group">
    <%= label_tag 'message[subject]', 'Subject' %>
    <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
  </div>


  <%= submit_tag 'Send', class: 'btn btn-primary' %>

  <div class="form-group">
    <%= label_tag 'recipients', '' %>
    <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'form-control chosen-it', style: "visibility:hidden" %>
  </div>
<% end %>
