<% if(!user_signed_in?) %>

<% else %>
    <% if current_user.revisers.present? %>

    <% end %>

<% end %>
<br><br>


<div class ="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class="sidebar-item center" style="background-color: #fff;"><%= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link active" %></li>
    </ul>
    <br>
    <%= link_to "View My Profile", user_path(current_user.id), class: "btn btn-default wide" %>
  </div>

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">Your Profile</div>
      <div class="panel-body">
        <div class="container">

         <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
         <%= render 'shared/devisemes' %>


         <div class="row col-sm-4 center">
          <label>Profile Picture</label>
        </div>

        <div class="row col-md-12">
         <div class="form-group">

          <br>
          <div class="col-md-4" style="padding-bottom:20px;">
            <div class="thumbnail3" style="width:200px;height:200px;overflow:hidden;margin-left:5px;border: 1px solid #45d1b8;background-color:black;">

              <div id="target" class="image-tag portrait avatarpreview"> </div>


            </div>
            <%= f.file_field :avatar, id: 'pictureInput', class: 'btn btn-primary file', style: "max-width:21rem;"%>
          </div>



          <script>

            $(":file").filestyle({buttonName: "btn-primary", iconName: "fa fa-camera", buttonText: "Change Profile Photo", input: false, iconName: "fa fa-camera" });



            $(function() {
              $('#pictureInput').on('change', function(event) {
                var files = event.target.files;
                var image = files[0]
                var reader = new FileReader();
                reader.onload = function(file) {
                  var img = new Image();
                  var img2 = new Image();
                  console.log(file);
                  img.src = file.target.result;
                  img2.src = file.target.result;
                  $('#target').html(img);
                  $('#target2').html(img2);

                }
                reader.readAsDataURL(image);
                console.log(files);
              });
            });


          </script>
        </div>

        <div class="col-md-7" style="margin-top:-40px;margin-left:40px;">


          <!-- <div class="row">
            <div class="">
              <label style="margin-bottom:-20px;padding:.5rem 0;font-weight:700;">Email</label>
            </div>

            <div class="">
              <%= f.email_field :email, :class => 'form-control', :placeholder => "Email" %>
            </div>

          </div> -->
          <div class="row">
            <div class="">
              <label style="margin-bottom:-20px;margin-top:.3rem;padding:.5rem 0;font-weight:700;">Email ID</label>
            </div>

            <div class="">
              <%= @user.email %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="">
              <label style="margin-bottom:-20px;margin-top:.3rem;padding:.5rem 0;font-weight:700;">이름 Full Name　名前</label>
            </div>

            <div class="">
              <%= f.text_field :fullname, :class => 'form-control', :placeholder => "Full Name" %>
            </div>


          </div>
          <div class="row">
            <div class="">
              <label style="margin-bottom:-20px;margin-top:.3rem;padding:.5rem 0;font-weight:700;">연락 번호 Phone Number </label>
            </div>

            <div class="">
              <%= f.text_field :contact, :class => 'form-control', :placeholder => "Phone Number" %>
            </div>


          </div>
          <div class="row">
            <div class="">
              <label style="margin-bottom:-20px;margin-top:.3rem;padding:.5rem 0;font-weight:700;">국적 Nationality　国籍</label>
            </div>
            <div class="">
                <%= f.country_select :country, :selected => f.object.country, :class => 'dselect', autofocus: true %>
            </div>
          </div>
          <div class="row">
            <div class="">
              <label style="margin-bottom:-20px;margin-top:.3rem;padding:.5rem 0;font-weight:700;">City you live now(Seoul, Tokyo, etc)</label>
            </div>

            <div class="">
              <!-- <%= f.select :city,[["Seoul","Seoul"]],prompt: "Select Region", class: "form-control"  %> -->
              <!-- <%= f.text_field :city, :class => 'form-control', :placeholder => "Current or Latest School　最後の学校", autofocus: false %> -->

              <%= f.autocomplete_field :city, autocomplete_user_city_suggestions_path, class: "form-control", style: "width:100%"  %>

            </div>


          </div>





          <div class="row">
            <div class="">
              <label style="margin-bottom:-20px;margin-top:.3rem;padding:.5rem 0;font-weight:700;">University　学校</label>
            </div>

            <div class="">
              <%= f.autocomplete_field :school, autocomplete_user_school_suggestions_path, :placeholder => "Current or Latest School　最後の学校", class: "form-control", style: "width:100%"  %>
            </div>

          </div>

          <div class="row">
            <div class="">
              <label style="margin-bottom:-20px;margin-top:.3rem;padding:.5rem 0;font-weight:700;">전공 Major　専攻</label>
            </div>

            <div class="">
              <!-- <%= f.select :institute, [["Seoul National University","Seoul National University"],["Yonsei University","Yonsei University"],["Korea University","Korea University"],["Sogang University","Sogang University"],["Sungkyunkwan University","Sungkyunkwan University"],["Hanyang University","Hanyang University"],["Chungang University","Chungang University"],["HUFS","HUFS"],["Kyunghee University","Kyunghee University"],["University of Seoul","University of Seoul"],["Konkuk University","Konkuk University"],["Dongkuk University","Dongkuk University"],["Hongik University","Hongik University"],["Other University","Other University"]],  prompt: "Select Language Institute", class: "form-control" %> -->
              <%= f.text_field :major, :class => 'form-control', :placeholder => "Major", autofocus: false %>

            </div>

          </div>
          <!-- <div class="row" style="margin-top:3rem;">
            <div class="">
              <label style="margin-bottom:-20px;margin-top:.3rem;padding:.5rem 0;font-weight:700;">Availability</label>
            </div>

            <div class="">
              <%= f.select :status, [["Show me on Search Results", "yes"], ["Don't Show me on Search Results", "no"]], prompt: "Select Status", class: "form-control" %>
            </div>

          </div> -->
          <div class="row" style="margin-top:3rem;">
            <div class="">
              <label style="margin-bottom:-20px;margin-top:.3rem;padding:.5rem 0;font-weight:700;">
                <%= f.check_box :sharecontact %>Share Contact </label>: Share Email(ID) and PhoneNumber
                with <%= link_to "Premium Users", "/premium"%> <br> * unchecked, you can only use messaging

            </div>

            <div class="">

            </div>

          </div>
          <!-- <div class="row" style="">
            <div class="">
              <label style="margin-bottom:-20px;margin-top:.3rem;padding:.5rem 0;font-weight:700;">You are</label>
            </div>

            <div class="">
              <%= f.select :state, [["Tutor", "Tutor"],["Student", "Student"]], class: "form-control" %>
            </div>

          </div> -->
          <br><br>
          <div class="row" style="">
            <div class="">
              <label style="margin-bottom:-20px;margin-top:.3rem;padding:.5rem 0;font-weight:700;">(Optional)Are you studying in Korean Lanuage Institute in Seoul? </label>
            </div>

            <div class="">
              <%= f.select :institute, [["Seoul National University","Seoul National University"],["Yonsei University","Yonsei University"],["Korea University","Korea University"],["Sogang University","Sogang University"],["Sungkyunkwan University","Sungkyunkwan University"],["Hanyang University","Hanyang University"],["Chungang University","Chungang University"],["HUFS","HUFS"],["Kyunghee University","Kyunghee University"],["University of Seoul","University of Seoul"],["Konkuk University","Konkuk University"],["Dongkuk University","Dongkuk University"],["Hongik University","Hongik University"],["Other University","Other University"]],  prompt: "Select Language Institute", class: "form-control" %>
            </div>

          </div>








          <!-- <div class="row">
            <div class="">
              <label style="margin-bottom:-20px;">Username</label>
            </div>
            <div class="">
              <%= f.text_field :username, :class => 'form-control', :placeholder => "Username"%>
            </div>

          </div> -->

          <!-- <div class="row">
            <div class="">
              <label style="margin-bottom:-20px;">School Email
                <label style="font-size:1rem;">(will not be fully shown ex: mi****@apu.ac.jp)</label>

              </label>
            </div>
            <div class="">
              <%= f.email_field :schoolemail, :class => 'form-control', :placeholder => "School Email"%>
            </div>

          </div> -->



          <!-- <div class="row" style="margin-top:2rem;">

            <% @k = current_user.revisers.last%>

              <div class="row">


                <% if current_user.revisers.none? %>
                <div class="col-md-6" style="float:left;">

                <%= link_to "Become a Mentor", new_reviser_path(@k), class: "btn btn-primary form-control", style: "font-weight:700"%>
                </div>
                <% else %>

                <div class="col-md-6" style="float:left;">

                <%= link_to "Edit Mentor Service", edit_reviser_path(@k), class: "btn btn-primary form-control", style: "font-weight:700"%>
                </div>
                <% end %>
                <div class="col-md-6" style="float:right;padding:1rem 1rem;">
                  <div class="row">
                    <%= f.simple_fields_for :revisers do |reviser| %>
            				<div class="form-group">
            					<%= reviser.check_box :active %> Activate Mentor Service
            				</div>
                    <% end %>
            			</div>
                </div>



              </div>
            </div> -->

        </div>


        <div class="row">
          <div class="col-md-12" style="padding-top:3rem;">
             <label><b>Write about yourself! Who do you want to meet?</b></label>
             <div class="form-group" style="">
              <%= f.text_area :description, rows: 5, cols: 25, :class => 'form-control', :placeholder => "Description", :style => "" %>
            </div>
          </div>
        </div>

        <div class="row col-md-12" style="width:120%">
            <div class="col-md-6">
              <div class="cat_field" style="border-bottom:1px solid #ccc">
                Languages
              </div>

              <div class="row">
                <div class="col-md-12" id="languages" >
                  <%= f.simple_fields_for :languages do |language| %>
                    <% render 'language_fields', f: language %>
                  <% end %>
                </div>
              </div>

                <div class="col-md-12" id="languages" style="min-width:25rem;max-width:28rem;padding-left:0;"  >
                  <div class="links">

                     <%= link_to_add_association 'Add Language', f, :languages, class: "btn btn-default add-button", style: "color: #565a5c;" %>
                  </div>
                </div>
            </div>


            <!-- <div class="col-md-6">
              <div class="cat_field">
                Specialties
              </div>

              <div class="row">
                <div class="col-md-12" id="languages" style="width:120%" >
             <%= f.simple_fields_for :specialties do |specialty| %>
               <% render 'specialty_fields', f: specialty %>
             <% end %>
               </div>
             </div>
             <div class="col-md-12" id="languages" style="min-width:25rem;max-width:28rem;padding-left:0;">
               <div class="links" >
                  <%= link_to_add_association 'Add Specialty', f, :specialties, class: "btn btn-default add-button", style: "color: #565a5c;" %>
                </div>
              </div>
           </div> -->



        </div>


    <!-- <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="field_title">
              Work/School Experience
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
             <%= f.text_field :occupation, :class => 'form-control', :placeholder => "Latest Occupation", autofocus: false %>
           </div>
           <div class="col-md-4" style="margin-bottom:.5rem;">
             <%= f.text_field :company_name, :class => 'form-control', :placeholder => "Company", autofocus: false %>
           </div>
         </div>

          <div class="">
            <div class="form-group" style="margin-top:2rem;">
              <%= f.text_area :occupation_details, rows: 5, cols: 25, :class => 'form-control', :placeholder => "List your Work/School Experiences
- Kamenoi Hotel Front Desk Staff / Beppu, Japan '14-'15
- Teaching Assistant of the 1st Year Student Workshop / Ritsumeikan APU '14
- Academic Learning Resource Core Staff (ALRCS) / Ritsumeikan APU

              " %>

            </div>
          </div>

      </div>
    </div> -->





<br><br><br><br>

<br><br>


<div class="form-group clearfix">

</div>



<!-- <h>Verify Paypal<h> -->

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

      <div class="form-group">
        <label style="color:red;">If you want, Change your password here!!</label>
        <%= f.password_field :password, :class => 'form-control', autocomplete: "off" , :placeholder => "New Password (Leave blank for no change)" %>
      </div>

      <div class="form-group">

        <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => "Confirm Password", :autocomplete => :off %>
      </div>



      <div class="actions">
        <%= f.submit "Save", :class => "btn btn-primary" %>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= link_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %>


<% end %>


</div>
</div>
</div>
</div>




</div>
