<!-- http://localhost:3000/revisers/new -->

<div class="panel panel-default">
	<div class="panel-heading">
		멘토가 되어주셔서 감사합니다! 친절한 상담 부탁드립니다!
	</div>
	<div class="panel-body">
		<div class="container3">
			<%= form_for @reviser do |f| %>
			<% if @reviser.errors.any? %>
							<h2 class="error-message">Errors:</h2>
							<ul>
								<% @reviser.errors.full_messages.each do |message| %>
								<li class="error-message"><%= message %></li>
								<% end %>
							</ul>
							<% end %>
			<div class="row">
				<div class="col-md-12">
					<div class="form-group" style="margin-bottom:0;">
						<label>Paypal Account(해외에 계신 선배님들을 위해 페이팔 결제를 시행하고 있습니다.)</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<!-- <label>Paypal Account (You need Paypayl account to receive money)</label> -->
						<%= f.text_field :paypal, :class => 'form-control', :placeholder => "Your Paypal Account"%>
					</div>
				</div>
			</div>
							<!-- <div class="row">
								<div class="col-md-4 select">
									<div class="form-group">
										<label>Max amount of pages you will grade?</label>
										<%= f.select :max_pages, [["500 - 1page",500],["1000 - 2page",1000],["1500 - 3page",1500],["2000 - 5page",2000],["2500 - 6page",2500],["3000 - 7page",3000],["3500 - 8page",3500],["4000 - 9page",4000],["4500 - 10page",4500],["5000 - 11page",5000],["5500+ - 12page+",5500]], prompt: "select..", class: "form-control"  %>
									</div>
								</div>
									<div class="col-md-4 select">
										<div class="form-group">
											<label>Average Time to revise a page (mins)</label>
											<%= f.select :average_time, [["10-15","10-15"],["15-20","15-20"],["20-25","20-25"],["25-30","25-30"],["30-35","30-35"],["35+","35+"]], prompt: "select..", class: "form-control" %>
										</div>
									</div>
								</div> -->
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Price per Hour of your time</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>

								<%= f.select :price_per, [["50","50"],["60","60"],["70","70"],["80","80"],["90","90"],["100","100"]], prompt: "Select Price", class: "form-control" %>

									<!-- <%= f.text_field :price_per, placeholder: "ex. $10", class: "textbox-med" %> -->
							</div>
						</div>
					</div>
				</div>
			<!-- <div class="row">
				<div class="form-group">
					<label>Message to Mentees</label>
					<%= f.text_area :description, rows: 5, placeholder: "Explain your experiences of your categories!", class: "form-control" %>
				</div>
			</div> -->


			<!-- <div class="row">
				<div class="form-group">
					<%= f.check_box :active %> 프로필 공개
				</div>
			</div> -->


			<div class="row">

				<div class="col-md-4 actions">
					<%= f.submit "저장", class: "btn btn-large btn-primary" %>
					<% end %>

				</div>
			</div>
		</div>
	</div>
</div>
