
<script>

								$(function() {
  $('.directUpload').find("input:file").each(function(i, elem) {
    var fileInput    = $(elem);
    var form         = $(fileInput.parents('form:first'));
    var submitButton = form.find('input[type="submit"]');
    var progressBar  = $("<div class='bar'></div>");
    var barContainer = $("<div class='progress'></div>").append(progressBar);
    fileInput.after(barContainer);
  });
});
								</script>

	<div class="row">
		<div class="col-md-6">
			<div class="premium">
				<div class="premium_content"  style="min-height:500px;">
					한국인 회원 :   <br><br>

					유료 프리미엄 : 열람권을 구매하시면 결제가 확인된 날짜부터 30일간 무제한 연락처(전화번호와 이메일) 열람이 가능합니다.
					<br> *쪽지는 무료입니다.
					<br> *전화번호의 경우 회원의 선택에 따라 비어 있을 수 있습니다.
   <br><br>


열람권 결제    <br>
<!-- TYPE A(15일) : 30,000원  <br>

TYPE B(30일) : 48,000원 (20%할인)  <br> -->

30일 : 30,000원  <br>

					아래 계좌 혹은 페이팔을 통하여 금액 이체 후,
					<br>hello@tweedlemate.com 으로
					송금자명과 아이디, 금액, 요청 날짜수를 입력해서 보내주시면, <br><br>
					1시간에서 최대 1일이내로 반영해 드리도록 하겠습니다.  <br><br>
  <br><br>
					계좌 : 신한은행 110-241-943993 소병욱 <br><br>

					<%= form_for([@reviser, @reviser.reservations.new]) do |f| %>
 				<%= render 'reservations/form', f: f %>
 				<%= f.submit "페이팔로 보내기", class: "btn btn-primary", style: "float:left;" %>

 				<% end %>  <br><br>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="premium">
				<div class="premium_content"   style="min-height:500px;">
					FOR : Foreigners, 日本人, 中国人  <br><br>

					PREMIUM ACCESS TO OTHER USERS <br>
					You can get unlimited access to other users’ contact(Email, Phone Number) for 30 days from the day your payment is approved.  <br>
*Messaging is Free
<br>*Phone Number could be empty by user's choice
<br><br>
				PAYMENT PLANS <br>

				30 DAYS : $30  <br>

				<!-- TYPE A(15 DAYS) : $30  <br>
				TYPE B(30 DAYS) : $48(20% OFF)     <br> -->
				1. Send the amount of money
				via Paypal to hello@tweedlemate.com,
				 <%= form_for([@reviser, @reviser.reservations.new]) do |f| %>
				<%= render 'reservations/form', f: f %>
				<%= f.submit "Send Via Paypal", class: "btn btn-primary", style: "float:left;" %>
				<a href="https://www.paypal.com/webapps/mpp/paypal-fees">+3.9% Paypal Fees</a>

				<% end %>  <br><br>

				2. Send an Email to “hello@tweedlemate.com” including  	<br>
				your information;<br> 1) Name<br> 2) Tweedlemate Account Email<br> 3) Amount of Payment <br><br>

Within from 1 hour to 24 hours, your account will be approved as premium.
				</div>
			</div>
		</div>
	</div>
