<div class="posts-wrapper">
  <div class="post">
  <div id="contain-pic" >
    <div class="thumbnail" style="background-color:black;">
     <%= image_tag user.avatar.url(:medium), :id => "image-tag", class: "portrait" %>
    </div>
  </div>
    <div class="pad-up">
    <% if user.reviews.average(:star) == nil %>
      <div id="no_rating" style="width:200px;text-align:center;"></div>
    <% else %>
      <div id="average_rating" style="width:200px;text-align:center;"></div>
    <% end %>
    </div>
    <script>
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= user.reviews.average(:star) %>
  });
  $('#no_rating').raty({
    path: '/assets',
    readOnly: true ,
    score: 0
  });
</script>
    <div class="row">
      <div class="user-name">
       <%= truncate( user.username, length:20) %>
     </div>
   </div>
   <div class="post-bottom">
    <div class="caption">

      <div class="row">
        <div class="comment-form col-sm-12">
          Univ: <%= truncate( user.school, length: 25) %>

        </div>
      </div>
      <div class="row">
        <div class="comment-form col-sm-12">
          Major: <%= truncate( user.major, length: 24) %>

        </div>


    </div>


  </div>
  <div class="comments" >

  </div>

</div>

</div>
</div>
