
<% if(!user_signed_in?) %>

<% else %>
  <% if current_user.revisers.present? %>

  <% end %>

<% end %>



<div class="container3" style="padding-top:50px;min-width: 1100px;" >
<div class="panel panel-default">
		<div class="panel-body">
<div id="wrap">
	<div class="row" style="" >






		<div class="col-xs-4"  style="height:100%;">
			<!-- Make an if statement for online and offline -->
<div class="prof-contain" style="background-color:#F8F8F8;border-radius: 4px;padding-bottom:20px;padding-top:20px;">
		<div class="row center">
      <!-- <% if @user.online? %>
      <div class="btn btn-block" id="available">
				Online Now
			</div>
			<% else %>
			<div class="btn btn-block" id="unavailable" style="background-color:#990000;">
				Offline
			</div>
			<% end %> -->

			<div id="contain-pic-show">
				<div class="thumbnail-show" style="width:300px;height:300px;overflow:hidden;background-color:black;">
					<!-- <%= image_tag @user.avatar.url(:medium), :id => "image-tag", class: "portrait" %> -->
          <!-- <%= image_tag "http://graph.facebook.com/#{@user.uid}/picture?type=large" %> -->
          <% if @user.avatar? %>
            <%= image_tag @user.avatar.url(:medium), :id => "image-tag", class: "portrait" %>
          <% else %>
            <% if @user.uid? %>
            <%= image_tag "http://graph.facebook.com/#{@user.uid}/picture?type=large" %>
            <% end %>
          <% end %>

				</div>
				</div>
				<!-- <div id="average_rating"></div>
				<script>
	$('#average_rating').raty({
		path: '/assets',
		readOnly: true,
		score:
    <% @user.revisers.each do |reviser| %>
    <%= reviser.reviews.average(:star) %>
    <% end %>
	});
</script> -->

			</div>

			<div class="row " style="margin-left:20px;">
        <!-- *************************Premium*************************** -->



          <!-- *************************Premium*************************** -->
          <div class="row" >
            <div class="col-xs-3" >
              <h2 style="font-size:20px;margin:0 auto;">Name:</h2>
            </div>
            <% if @user.fullname != nil %>
            <div class="col-xs-8" style="margin-left:30px;">
              <h><%= @user.fullname %></h>
            </div>
            <% else %>
            <div class="col-xs-8" style="margin-left:30px;height:20px;line-height:25px;">
              <h>N/A</h>
            </div>
          <% end %>
          </div>
        <div class="row" >
					<div class="col-xs-3" >
						<h2 style="font-size:20px;margin:0 auto;">Country:</h2>
					</div>
					<% if @user.country != nil %>
					<div class="col-xs-8" style="margin-left:30px;">
						<h><%= @user.country %></h>
					</div>
					<% else %>
					<div class="col-xs-8" style="margin-left:30px;height:20px;line-height:25px;">
						<h>N/A</h>
					</div>
				<% end %>
				</div>


				<div class="row">
					<div class="col-xs-3">
						<h2 style="font-size:20px;margin:0 auto;">University:</h2>
					</div>
					<% if @user.school != nil %>
					<div class="col-xs-8" style="margin-left:30px;">
						<h><%= @user.school %></h>
					</div>
					<% else %>
					<div class="col-xs-8" style="margin-left:30px;height:20px;line-height:25px;">
						<h>N/A</h>
					</div>

				<% end %>
				</div>




        <!-- <% if @user.schoolemail != nil %>
				<div class="row" >
					<div class="col-xs-3" >
						<h2 style="font-size:20px;margin:0 auto;">Schoolemail:</h2>
					</div>
					<div class="col-xs-8" style="margin-left:30px;height:20px;line-height:25px;">
						<h><%= @user.cut_email %></h>
					</div>
				</div>
				<% end %> -->
        <!-- <% if @user.institute == nil || @user.institute == "" || @user.institute == " " %>
        <% else %>

				<div class="row">
					<div class="col-xs-3">
						<h2 style="font-size:20px;margin:0 auto;">Institute:</h2>
					</div>
					<div class="col-xs-8" style="margin-left:30px;height:20px;line-height:25px;">
						<h><%= @user.institute %></h>
					</div>
				</div>
				<% end %> -->


        <% if @user.city != nil %>
				<div class="row">
					<div class="col-xs-3">
						<h2 style="font-size:20px;margin:0 auto;">City:</h2>
					</div>
					<div class="col-xs-8" style="margin-left:30px;height:20px;line-height:25px;">
						<h><%= @user.city %></h>
					</div>
				</div>
				<% end %>

<% if @user.occupation != nil %>
				<!-- <div class="row" >
					<div class="col-xs-3" >
						<h2 style="font-size:20px;margin:0 auto;margin-right:10px;">Occupation:</h2>
					</div>
					<div class="col-xs-8" style="margin-left:30px;height:20px;line-height:25px;">
						<h style=""><%= @user.occupation %></h>
					</div>
				</div> -->
				<% end %>

<% if @user.company_name != nil %>
				<!-- <div class="row" >
					<div class="col-xs-3" >
						<h2 style="font-size:20px;margin:0 auto;">Company:</h2>
					</div>
					<div class="col-xs-8" style="margin-left:30px;height:20px;line-height:25px;">
						<h><%= @user.company_name %></h>
					</div>
				</div> -->
				<% end %>
			</div>


		</div>

</div>

		<div class="col-xs-8">

			<div class="row">

				<div class="col-sm-12">
					<h2 style="font-size:40px;"> <%= @user.fullname %></h2>
				</div>
				<div class="row center">
          <% if current_user != @user %>
					<div class="col-sm-4">
						<div class="msg-btn">
							<%= link_to 'Send message', new_message_path(to: @user.id), class: 'btn btn-primary' %>
						</div>
					</div>
          <% end %>

					<div class="col-sm-4">
						<div class="msg-btn">
							<% @user.revisers.each do |reviser| %>
              <%= link_to reviser do %>

              <div class="btn btn-primary">상담 시간 예약</div>
              <% end %>
								<!-- <% if reviser.active == true %>
								<%= link_to reviser do %>

								<div class="btn btn-primary">상담 시간 예약</div>
								<% end %>

								<% else %>
								<div class="btn btn-default disabled" style="margin-top:0;">Mentor Service Not Available</div>



								<% end %> -->
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="row">

        <div class="row col-sm-10" style="margin-left:75px;margin-top:20px;">
        <label style="font-weight:bold;font-size:2.4rem;border-bottom:1px solid #333;">About Me</label>
          <div class="description" style="word-wrap:break-word;">
          <% if @user.description != nil %>
            <%= markdownify @user.description %>
            <% else %>
            <p style="overflow:auto"> There is no description...... </p>
            <% end %>
          </div>
        </div>
			</div>
      <!-- LANGUAGE, SPECIALTIES-->

      <!-- <div class="row col-md-12" style="height:20rem;max-height:20rem;margin-top:15px;min-width:600px;" id="introduction">

        <div class="col-xs-6">
          <% if @user.languages != nil %>
          <h3> Languages </h3>
              <% @user.languages.each do |f| %>

              <p style="">- <%= f.language  %></p>


              <% end %>

          <% else %>
          <h3> Languages </h3>
          Not Added Yet


          <% end %>


        </div>

        <div class="col-xs-6">
          <% if @user.specialties != nil %>
          <h3> Specialties </h3>
          <% @user.specialties.each do |f| %>

          <p style="">- <%= f.specialty  %></p>

          <% end %>
          <% else %>
          <h3> Specialties </h3>
          Not Added Yet


          <% end %>
        </div>
      </div> -->

    <!--  SCHOLARSHIPS-->
    <% if @user.scholarships != nil %>

    <div class="row " style="margin-top:15px;min-width:600px;" id="introduction">
      <div class="col-md-12">

          <h3 style="margin-bottom: 2rem;"> Scholarships </h3>
          <% @user.scholarships.each do |f| %>

          <p style="">- <%= f.name  %></p>
          <% end %>





      </div>
    </div>
    <% else %>
    <% end %>
			<div class="row" style="margin-top:15px;min-width:600px;" id="introduction">

        <!-- WORK EXPERIENCE -->
				<!-- <div class="col-xs-12" style="height:25rem;max-height:50rem;overflow:scroll">
					<% if @user.occupation_details != nil %>
					<h3> Work/School Experience </h3>

					<p style="overflow:scroll"><%= markdownify @user.occupation_details %></p>
					<% else %>

					<% end %>
				</div> -->
        <% if @user.educations != nil %>

				<div class="col-xs-12" style="height:25rem;max-height:50rem;overflow:scroll">

					<!-- <% if @user.school_description != nil %>
					<h3> Education</h3>

					<p style="overflow:scroll"><%= markdownify @user.school_description %></p>
          <% else %>

					<% end %>
           -->
          <h3> Education & Experience</h3>

            <% @user.educations.each do |f| %>


            <p style="">- <%= f.education  %></p>
            <% end %>




				</div>
        <% else %>

        <% end %>

			</div>

      <!--  SCHOLARSHIPS-->

      <!-- <div class="row " style="height:20rem;margin-top:15px;overflow:scroll;min-width:600px;" id="introduction">
        <div class="col-md-12">
          <% if @user.scholarships != nil %>

            <h3 style="margin-bottom: 2rem;"> Scholarships </h3>
            <% @user.scholarships.each do |f| %>

            <p style="">- <%= f.name  %></p>
            <% end %>

          <% else %>
          <% end %>



        </div>
      </div> -->


      <!--  REVIEWS-->
<!--
<div class="col-sm-12" style="margin-top:40rem;margin-bottom:40px;">
	<h4>Reviews</h4>
	<% @revisers.each do |reviser| %>
	<% if !reviser.reviews.blank? %>

		<% reviser.reviews.each do |review| %>
		<div class="row">
			<div class="col-sm-2 text-center">
			<%= image_tag review.user.avatar.url(:medium), :id => "image-tag", class: "img-circle thumbnail2" %><br>
			<%= review.user.username %>
			</div>
			<div class="col-sm-10">
				<%= link_to reviser.essay_type, reviser %><br>
				<%= review.comment %><br>
				<%= review.created_at.strftime("%v") %>
			</div>
		</div>
		<% end %>
	<% end %>
	<% end %>
</div> -->




		</div>



	</div>

</div>

</div>
</div>


</div>
