<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <!-- <h1>You have a new message: <%= @subject %></h1> -->
    <!-- <h1>You have a new message -->

    <p>
      You have received a new message
      <!-- You have received a new message: -->

    </p>
    <blockquote>
      <p>
        Visit <%= link_to root_url, root_url %> and go to your inbox for more info.
<br><br>
        <%= raw @message.body %>
        <br>Sent from <%= @message.sender.fullname %>
      </p>
    </blockquote>
    <p>
      <!-- Visit <%= link_to root_url, root_url %> and go to your inbox for more info. -->
    </p>
  </body>
</html>
