<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top" >
  <div class="container">
    <div class="navbar-header" style="float:left;">
    <script>
    $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
    });
</script>

      <%= link_to "EssayFriends", root_path, class: "navbar-brand" %>
    </div>

<div style="float:left;margin-top:5px;margin-left:15px;">
   <%= render 'users/school_search' %>
</div>


    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav", style="display:inline;float:left;margin-left:50px;">


                  <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students<span class="caret"></span>
                     </a>

                     <ul class="dropdown-menu">
                       <li><%= link_to "Life", "/boards/1" %></li>
                       <li><%= link_to "Admissions", "/boards/2" %></li>
                       <li><%= link_to "Advice", "/boards/3" %></li>
                     </ul>
                  </li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Business<span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                      <li><%= link_to "Culture", "/boards/4" %></li>
                      <li><%= link_to "Invest", "/boards/5" %></li>
                      <li><%= link_to "Advice", "/boards/6" %></li>
                    </ul>
                  </li>
                  </ul>


<ul class="nav navbar-nav navbar-right", style="display:inline;">

<% if(!user_signed_in?) %>
       <li> <%= link_to "Log In", new_user_session_path %> </li>
       <li> <%= link_to "Sign Up", new_user_registration_path %> </li>
       <% else %>

       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li><%= link_to "My Profile", user_path(current_user) %></li>
           <li><a href="/your_essays">My Essays</a></li>
          <li><a href="/your_reservations">Requests</a></li>

          <li role="separator" class="divider"></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "log out", destroy_user_session_path, method: :delete %></li>
        </ul>

        <li class="thumbnail2"><%= image_tag(current_user.avatar.url(:thumb), :id => "image-tag", class: "portrait") %></li>
      </li>
      <% end %>
      <!--  this is where it's different-->

            <% if user_signed_in? %>
              <li>
                <a href="/conversations"><span class="label label-danger"><%=unread_messages_count%></span><i class="fa fa-envelope-o" aria-hidden="true"></i> Messages</a>
              </li>
             <!--  <li>
                <%= link_to 'Messages', conversations_path %>
              </li> -->
              <li>

              </li>
              <li>
                <a href="/revisers"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Manage Reviser</a>
              </li>
            <% else %>
            <% end %>




    </ul>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->

</nav>
