<div class="real">
  <row>
    <div class="col-md-12">
      <div id="real-note">
        <!-- 실제 합격생에게 상담받으세요 <br> -->

        <!-- Want to Help other students coming <br>to your school? <br><br> -->
          <!-- Want to study abroad?  <br>
          Ask students who's already there -->

          Do you want real
          information
          <br>about your next school ?
          <br>
          Talk to real students!

      </div>
    </div>

    <div class="col-md-12">
      <div id="real">
        <!-- How to apply ? How to get in ? How to live there ? <br> -->
<br>
        Get in touch with an actual accepted student   <br>
        who has already walked the same path.  <br>

        Reviewing SOP, language barrier, find an accomodation...  <br>
        Schedule a consultation with a senior and get prepared  <br>

<!-- <br>
국내 로스쿨, 해외 대학,대학원을 준비하시나요?<br>
굳이 학원, 유학원에 가지 마세요! <br>
하버드에 가려면 하버드를 다닌 사람한테 물어봐야죠! <br>
실제 선배들과 상담시간을 예약하고,  <br>자소서,SOP 첨삭도 받으시기 바랍니다! <br>
**해외 취업도 상담가능!**
<br>
<br>
선배님들! 가입하시고 후배님들을 도와주세요! -->




      </div>
    </div>
  </row>


</div>


<!--
<div class="row" style="margin-top:2rem;">
  <div id="banner" style="width:30%;margin:0 auto;text-align:center;font-size:3rem;border-bottom:2px solid #333">
    Popular Senpais(Mentors)
  </div>
</div>
<br> -->

<!-- <div class="row" style="margin:0 3rem;" >
        <div class="col-md-3 col-sm-3 col-xs-12">
          <%= link_to "/users/14" do %>

          <div id="senpai">
            <div class="senpai_img">
                <%= image_tag('/assets/han.jpg')%>
            </div>

            <div class="senpai_overview">
              <h1>
                Kyoungbo Han
              </h1>

              <h2>
                IHEID(Graduate Institute, Geneva) on full scholarship
              </h2>
              <h3>
               Ritsumekian APU <br>
               Makita Jinichi Scholarship '14 <br>
               Japanese Government Honors Scholarship '13 <br>


              </h3>
            </div>

          </div>
          <% end %>

        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <%= link_to "/users/24" do %>

          <div id="senpai">
            <div class="senpai_img">
                <%= image_tag('/assets/lemon.jpg')%>
            </div>

            <div class="senpai_overview">
              <h1>
                Lemon Mengya Li


              </h1>

              <h2>
              ANA Stewardess  '15~
              </h2>
              <h3>
                Ritsumekian APU <br>

                Japanese Government Honors Scholarship '14 <br>


              </h3>
            </div>

          </div>
          <% end %>

        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <%= link_to "/users/21" do %>

          <div id="senpai">
            <div class="senpai_img">
                <%= image_tag('/assets/pwoo.jpg')%>
            </div>

            <div class="senpai_overview">
              <h1>
                Seungwoo Park
              </h1>

              <h2>
                Mitsui Sumitomo Bank '17~
              </h2>
              <h3>
                Ritsumikan APU <br>
              GASS (Global Admssions Student Staff) <br>
               Representative '15<br>
               FLAG Sub-leader<br>



              </h3>
            </div>

          </div>
          <% end %>

        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <%= link_to "/users/5" do %>

          <div id="senpai">
            <div class="senpai_img">
                <%= image_tag('/assets/me.png')%>
            </div>

            <div class="senpai_overview">
              <h1>
                Byungwook So
              </h1>

              <h2>
                Guidebirds CEO
              </h2>
              <h3>
                Ritsumikan APU <br>
                K-Global Startup Gov.Incubation '16 <br>

               Nanjing TV Intern<br>
               ISC Paris Exchange Program <br>

              </h3>
            </div>

          </div>
          <% end %>
        </div>
</div> -->
<!--
<div class="white_background" style="margin:0 3rem;">
  <div class="row">
    <div class="col-md-3">
      <%= link_to "http://www.senpaicounsel.com/users?utf8=%E2%9C%93&q%5Bcountry_cont%5D=&q%5Bcompany_name_cont%5D=&q%5Bschool_cont%5D=chicago&q%5Bmajor_cont%5D=&commit=Search" do %>
      <div class="school" >
        <div class="school_img" style="background-image:url('/assets/cago.jpg');">
          <span>
              University of Chicago
          </span>



        </div>
      </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= link_to "http://www.senpaicounsel.com/users?utf8=%E2%9C%93&q%5Bcountry_cont%5D=&q%5Bcompany_name_cont%5D=&q%5Bschool_cont%5D=yonsei&q%5Bmajor_cont%5D=&commit=Search" do %>

      <div class="school">
        <div class="school_img">
          <%= image_tag('/assets/yonsei.jpg')%>
          <span>
            Yonsei University
          </span>

        </div>
      </div>
      <% end %>

    </div>
    <div class="col-md-3">
      <%= link_to "http://www.senpaicounsel.com/users?utf8=%E2%9C%93&q%5Bcountry_cont%5D=&q%5Bcompany_name_cont%5D=&q%5Bschool_cont%5D=Ritsumeikan+APU&q%5Bmajor_cont%5D=&commit=Search" do %>

      <div class="school">
        <div class="school_img">
          <%= image_tag('/assets/apu.jpeg')%>
          <span>
            Ritsumeikan APU
          </span>
        </div>
      </div>
      <% end %>

    </div>
    <div class="col-md-3">
      <%= link_to "http://www.senpaicounsel.com/users?utf8=%E2%9C%93&q%5Bcountry_cont%5D=&q%5Bcompany_name_cont%5D=&q%5Bschool_cont%5D=colorado+state&q%5Bmajor_cont%5D=&commit=Search" do %>

      <div class="school">
        <div class="school_img">
          <%= image_tag('/assets/csu.png')%>
          <span>
            Colorado State University
          </span>
        </div>
      </div>
      <% end %>

    </div>
  </div>

</div> -->

<br>
<br>
<div class="white_background">
  <div class="container_index">
    <!-- <div class="container-body" style="margin-top:1rem;padding-top:2rem;">


      <div class="home_search">
        <strong style="font-size:2rem;">Search for Senpai</strong>
        <h1>
                In Japan, senpai (先輩) is a mentor, someone of a higher age. The mentor system is found at all levels of education, and in sports clubs, businesses, and informal or social organizations.
        </h1>
      </div>
    </div> -->
        <div class="container-body">

          <div class="row">

              <%= search_form_for @search do |f| %>

                <div class="form-inline">

                  <!-- <div class="form-row">
                    <div class="col-md-12">
                      <% Language.uniq.pluck(:language) do |f| %>
                        <%= check_box_tag('q[languages_language_cont_any][]', f.language) %>
                        <%= f.language%>
                      <% end %>
                    </div>
                  </div> -->
                  <div class="form-row">

                      <div class="col-md-12" style="text-align:center;margin-bottom:2rem;font-size:2.2rem;font-weight:700;">



                        <!-- 멘토 프로필 검색 -->
                        Search Profiles



                        <br>





                        <!-- 한국사는 외국인 찾기 SNS
                        외국사는 한국인 ,

                        <br>

                        SNS FOR FOREIGNERS AND LOCALS <br>

                        Find people of your interest! -->

                        <!-- Search for Mentor of Your Need! <br>
                        Dear Foreigners, Become a Language Mentor for Koreans!  <br>
                        만나고 싶은 멘토에게 연락해보세요! <br>
                        그리고 누군가의 멘토가 되어 주세요! 당신의 경험은 소중하니까! -->
                      </div>
                      <!-- <div class="row">
                        <div class="col-md-12" style="margin-bottom:2rem;">
                          <div class="category" style="float:left;font-size:1.6rem;font-weight:700;margin-left:3rem;margin-right:3rem;">
                            Specialties
                          </div>
                          <div class="specialties">
                            <ul id="s_list">

                              <li style="display:inline-block;"><%= check_box_tag('q[specialties_specialty_cont_any][]', "Admission Essay") %>
                              Admission Essay</li>


                              <li style="display:inline-block;"><%= check_box_tag('q[specialties_specialty_cont_any][]', "Scholarship Essay") %>
                              Scholarship Essay</li>


                              <li style="display:inline-block;"><%= check_box_tag('q[specialties_specialty_cont_any][]', "Admission Interview") %>
                              Admission Interview</li>




                              <li style="display:inline-block;"><%= check_box_tag('q[specialties_specialty_cont_any][]', "Graduate School") %>
                              Graduate School</li>

                              <li style="display:inline-block;"><%= check_box_tag('q[specialties_specialty_cont_any][]', "Job Hunting(Japan)") %>
                              Job Hunting(Japan)</li>

                              <li style="display:inline-block;"><%= check_box_tag('q[specialties_specialty_cont_any][]', "Job Hunting(International)") %>
                              Job Hunting(International)</li>

                              <li style="display:inline-block;"><%= check_box_tag('q[specialties_specialty_cont_any][]', "School Activity") %>
                              School Activity</li>

                              <li style="display:inline-block;"><%= check_box_tag('q[specialties_specialty_cont_any][]', "Part Time Jobs") %>
                              Part Time Jobs</li>
                            </ul>
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="row">
                        <div class="col-md-12" style="text-align:center;margin-bottom:2rem;">
                          <div class="category" style="float:left;font-size:1.6rem;font-weight:700;margin-left:3rem;margin-right:3rem;">
                            Languages
                          </div>

                          <ul style ="width:60%;margin:0 auto;">

                            <li style="display:inline-block;">  <%= check_box_tag('q[languages_language_cont_any][]', "English") %>
                            English</li>

                            <li style="display:inline-block;">  <%= check_box_tag('q[languages_language_cont_any][]', "Japanese") %>
                            Japanese</li>

                            <li style="display:inline-block;">  <%= check_box_tag('q[languages_language_cont_any][]', "Korean") %>
                            Korean</li>

                            <li style="display:inline-block;">  <%= check_box_tag('q[languages_language_cont_any][]', "Chinese") %>
                            Chinese</li>

                            <li style="display:inline-block;">  <%= check_box_tag('q[languages_language_cont_any][]', "French") %>
                            French</li>

                            <li style="display:inline-block;">  <%= check_box_tag('q[languages_language_cont_any][]', "Spanish") %>
                            Spanish</li>

                            <li style="display:inline-block;">  <%= check_box_tag('q[languages_language_cont_any][]', "Thai") %>
                            Thai</li>

                            <li style="display:inline-block;">  <%= check_box_tag('q[languages_language_cont_any][]', "Indonesian") %>
                            Indonesian</li>

                            <li style="display:inline-block;">  <%= check_box_tag('q[languages_language_cont_any][]', "Vietnamese") %>
                            Vietnamese</li>

                            <li style="display:inline-block;">  <%= check_box_tag('q[languages_language_cont_any][]', "Mongolian") %>
                            Mongolian</li>


                          </ul>
                      </div>
                    </div> -->

                  </div>
                  <div class="form-row">
                    <!-- <div class="col-3 col-md-3 col-ms-6">
                      <div class="form-group">
                        <%= f.label :country_cont, "Country" %> <br>

                        <%= f.autocomplete_field :country_cont, autocomplete_user_country_suggestions_path, class: "form-control", style: "width:120%" %>

                      </div>

                    </div> -->
                    <!-- <div class="col-3 col-md-3 col-ms-6">
                      <div class="form-group">

                      <%= f.label :company_name_cont, "Company" %> <br>
                      <%= f.autocomplete_field :company_name_cont, autocomplete_user_company_name_suggestions_path, class: "form-control", style: "width:120%"  %>
                      </div>

                    </div> -->
                    <div class="col-4 col-md-4 col-sm-3">
                      <div class="form-group">
                        <%= f.label :school_cont, "School", style: "font-weight:700;" %> <br>
                        <!-- <%= f.autocomplete_field :school_cont, autocomplete_user_school_suggestions_path, class: "form-control", style: "width:120%"  %> -->
                        <% options = options_for_select(User.yes.order(:school).uniq.pluck(:school)) %>
                        <%= f.select :school_cont, options, {include_blank: "Select University"}, style: "width: 300px;" %>

                      </div>
                    </div>
                    <!-- <div class="col-md-1" style="width: 7rem;">
                      <div class="form-group" style="font-weight:700;">
                        또는
                      </div>

                    </div> -->

                    <div class="col-4 col-md-4 col-sm-3">
                      <div class="form-group" style="width:250px;">
                        <!-- <%= f.label :company_name_cont, "직장", style: "font-weight:700;" %> <br>
                        <% options = options_for_select(User.yes.order(:company_name).uniq.pluck(:company_name)) %>
                        <%= f.select :company_name_cont, options, {:include_blank => 'Select Work'}, style: "width: 290px;margin-right:1rem; display: block;"%> -->

                        <%= f.label :major_cont, "Major", style: "font-weight:700;" %> <br>
                        <% options = options_for_select(User.yes.order(:major).uniq.pluck(:major)) %>
                        <%= f.select :major_cont, options, {include_blank: "Select Major"}, style: "width: 290px;margin-right:1rem; display: block;" %>



                      </div>

                    </div>
                    <div class="col-4 col-md-4 col-sm-3">
                      <div class="form-group" style="width:250px;">

                        <%= f.label :major_cont, "특기사항", style: "font-weight:700;" %> <br>


                        <li style="display:inline-block;"><input type="checkbox">
                        Scholarship  </li>
                        <!-- <li style="display:inline-block;"><input type="checkbox">
                        Experi </li> -->

                      </div>

                    </div>
                    <!-- <div class="col-md-4">
                      <div class="form-group" style="width:250px;">
                        <%= f.label :city_cont, "City", style: "font-weight:700;" %> <br>
                        <% options = options_for_select(User.order(:city).uniq.pluck(:city)) %>
                        <%= f.select :city_cont, options, {include_blank: "Select City"}, style: "width: 100%;margin-right:1rem; display: block;" %>

                        <%= f.select :city_cont, [["Seoul","seoul"]], style: "width: 100%;margin-right:1rem; display: block;" %>


                      </div>

                    </div> -->
                    <!-- <div class="col-4 col-md-4 col-sm-3">
                      <div class="form-group">
                        <%= f.label :languages_language_cont_any, "Languages", style: "font-weight:700;" %> <br>
                        <% options = options_for_select(Language.order(:language).uniq.pluck(:language)) %>
                        <%= f.select :languages_language_cont_any, options, {include_blank: "Select Languages"}, style: "width: 290px;margin-right:1rem; display: block;" %>

                      </div>

                    </div> -->


                    <!-- <div class="col-4 col-md-4 col-sm-3">

                      <div class="form-group">
                        <%= f.label :institute_cont, "Language Institute", style: "font-weight:700;" %> <br>
                        <% options = options_for_select(User.order(:institute).uniq.pluck(:institute)) %>

                        <%= f.autocomplete_field :school_cont, autocomplete_user_school_suggestions_path, class: "form-control", style: "width:120%"  %>
                        <%= f.select :institute_cont, options, {include_blank: "Select Institute"}, style: "width: 190%;" %>

                      </div>
                    </div> -->



                    <!-- <div class="col-4 col-md-4 col-ms-6">
                      <div class="form-group">
                        <%= f.label :major_cont, "Major", style: "font-weight:700;" %> <br>
                        <% options = options_for_select(User.order(:major).uniq.pluck(:major)) %>
                        <%= f.select :major_cont, options, {include_blank: "Select Major"}, style: "width: 300px;margin-right:1rem; display: block;" %>

                        <%= f.autocomplete_field :major_cont, autocomplete_user_major_suggestions_path, class: "form-control", style: "width:100%"  %>

                      </div>
                    </div> -->
                    <br>
                    <br>





                  </div>

                </div>



                <div class="row">
                  <div class="col-3">

                  </div>
                  <div class="col-9 pull-right">
                  <br>  *You may leave blanks for any column

                  </div>

                </div>
                <div id="submit">
                  <%= link_to "All Profiles", "/users?utf8=%E2%9C%93&q%5Bcountry_cont%5D=&q%5Bcity_cont%5D=&q%5Bschool_cont%5D=&q%5Bmajor_cont%5D=&commit=Search", class: "btn btn-primary pull-right" %>

                </div>
                <div id="submit" >
                  <%= f.submit "검색", class: "btn btn-primary pull-right", style: "margin:0 1rem;" %>

                </div>
              <% end %>



          </div>

        </div>



    </div>




</div>
<br>




<br>

<!-- <div class="white_background">
  <div class="container_index" >

  </div>
</div> -->





<!-- <br>

<div class="commission">
  <i>Commission Free Until October!!</i>
</div>
<br><br>
 -->
