<div class="col-md-3">
      <strong>Title:</strong>
      <% @posts.each do |post| %>
      <ul>
        <%= link_to "https://blooming-shelf-56863.herokuapp.com/boards/#{post.board_id}/posts/#{post.id}" do %>
        <li>
          <% if post.created_at > Time.now.beginning_of_day %>
          <!-- <%="#{time_ago_in_words(post.created_at)} ago"%>  -->
          NEW POST
          <% else %>
          <%= post.created_at.strftime("%b %d, %Y") %>
          <% end %>
          <%= post.title %>
          <% end %>
        </li>

      </ul>
      <% end %>
    </div>

    <div class="col-md-3">
      <strong>Title:</strong>
      <% @posts2.each do |post| %>
      <ul>
        <%= link_to "https://blooming-shelf-56863.herokuapp.com/boards/#{post.board_id}/posts/#{post.id}" do %>
        <li>
          <% if post.created_at > Time.now.beginning_of_day %>
          <!-- <%="#{time_ago_in_words(post.created_at)} ago"%>  -->
          NEW POST
          <% else %>
          <%= post.created_at.strftime("%b %d, %Y") %>
          <% end %>
          <%= post.title %>
          <% end %>
        </li>

      </ul>
      <% end %>
    </div>

    <div class="col-md-3">
      <strong>Title:</strong>
      <% @posts3.each do |post| %>
      <ul>
        <%= link_to "https://blooming-shelf-56863.herokuapp.com/boards/#{post.board_id}/posts/#{post.id}" do %>
        <li>
          <% if post.created_at > Time.now.beginning_of_day %>
          <!-- <%="#{time_ago_in_words(post.created_at)} ago"%>  -->
          NEW POST
          <% else %>
          <%= post.created_at.strftime("%b %d, %Y") %>
          <% end %>
          <%= post.title %>
          <% end %>
        </li>
      </ul>
      <% end %>
    </div>

    <div class="col-md-3">
      <strong>Title:</strong>
      <% @posts4.each do |post| %>
      <ul>
        <%= link_to "https://blooming-shelf-56863.herokuapp.com/boards/#{post.board_id}/posts/#{post.id}" do %>
        <li>
          <% if post.created_at > Time.now.beginning_of_day %>
          <!-- <%="#{time_ago_in_words(post.created_at)} ago"%>  -->
          NEW POST
          <% else %>
          <%= post.created_at.strftime("%b %d, %Y") %>
          <% end %>
          <%= post.title %>
          <% end %>
        </li>
      </ul>
      <% end %>
    </div>