
<%= render 'shared/topsenpai' %>

<div class="row">

  <div class="col-md-3" style="padding-right:0;">

    <body>

    <div class="container_post">


    <div class="panel panel-default">
        <div class="panel-body">

          <div class="row col-sm-12 home-posts-container ">
            <div class="row" style="text-align:center;margin-top:10px;margin-bottom:2rem;">
              <h class="" style="color:black;font-size:24px;">Recent Posts</h>
            </div>

            <main class="flex-center">
             <div class="row">
              <% @posts.each do |post| %>
              <div class="col-sm-12">
                <div class="thread">
                  <% if post.photo.present? %>

                  <div class="post_thumbnail2">
                    <%= link_to image_tag(post.photo.url(:medium)), [@board, post] %>
                  </div>
                  <%= link_to [@board, post] do %>

                  <div class="post_overview">
                    <h2>

                      <%= truncate(post.title, length: 12) %>
                      (<%= post.comments.count %>)
                      <% if post.created_at > Time.now.beginning_of_day %>
                      <%= image_tag('/assets/new.gif')%>
                      <% else %>


                      <% end %>


                    </h2>
                  </div>
                  <p class="author" >
                    <strong>
                      <!-- <%= post.user.username %> -->

                    </strong>

                    <%= post.created_at.strftime("%b %d, %Y") %>
                  </p>
                  <% end %>

                  <% else %>

                  <%= link_to [@board, post] do %>

                  <div class="post_overview2">
                    <h2>


                      <%= truncate(post.title, length: 12) %>
                      (<%= post.comments.count %>)
                      <% if post.created_at > Time.now.beginning_of_day %>
                      <%= image_tag('/assets/new.gif')%>
                      <% else %>


                      <% end %>

                    </h2>
                  </div>
                  <p class="author" >
                    <strong>
                      <!-- <%= post.user.username %> -->

                    </strong>

                    <%= post.created_at.strftime("%b %d, %Y") %>
                  </p>

                  <% end %>

                  <% end %>
                </div>
              </div>


              <% end %>
            </div>


          </main>

        </div>



      </div>

    </div>
    </div>

    <br><br>
    <br>
    <br>
    </body>

  </div>       <!-- col-md-9 -->
  <div class="col-md-9" style="padding-left:0;">
    <div class="portrait_container">
      <% @arrUsers.each do |user| %>
        <!-- <% user.revisers.each do |reviser| %>
          <% if reviser.active == true %>
          <% end %>
          <% end %> -->

          <% if user.uid? || user.avatar? %>
            <% if user.status == "yes"%>
            <% end %>
            <% end %>

                <%= link_to user do %>
                <div class="user-layout">
                  <%= render 'userPortrait', user: user %>
                </div>
                <% end %>




      <% end %>
    </div>
  </div>        <!-- col-md-3 -->


</div>        <!-- row -->




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- <div class="steps">
  <div id="step-note">
    How to Use
  </div>
  <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">

            <div id="step" style="float:right;">
              <div class="step_img">
                <%= image_tag('/assets/profile.png', :style => "width:60%;max-width:60%;padding-top:3rem;")%>

              </div>

              <div class="step_overview">
                <h2>

                </h2>
                <h2>
                  STEP 1: Search

                </h2>
                <h3>
                  Search for mentors of your need

                </h3>
              </div>

            </div>


          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">

            <div id="step">
              <div class="step_img">
                <%= image_tag('/assets/sendfile.png', :style => "width:45%;max-width:45%;padding-top:5rem;")%>

              </div>

              <div class="step_overview">
                <h2>

                </h2>
                <h2>
                  STEP 2: Send

                </h2>
                <h3>
                  Send your Essay or Application to Mentor and make an online appointment

                </h3>
              </div>

            </div>


          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">

            <div id="step" style="float:left;">
              <div class="step_img" style="background-size:100%;">
                <%= image_tag('/assets/skype.png', :style => "width:90%;max-width:90%;")%>



              </div>

              <div class="step_overview">
                <h2>

                </h2>
                <h2>
                  STEP 3: Get Consulting

                </h2>
                <h3>
                  Using <strong><u><i>Skype or Google Hangout</i></u></strong>, Consult with the mentor about your essay and school life. <br><strong><i><u>or Get a Coffee in Real Life!</u></i></strong>

                </h3>
              </div>

            </div>


          </div>

  </div>
</div> -->
