

<div class="row" style="margin-top:2rem;">
  <div id="banner" style="width:30%;margin:0 auto;text-align:center;font-size:3rem;border-bottom:2px solid #333">
    To Become A Tutor
  </div>
</div>

<div class="container3">
  <div class="mentor_step">
    STEP 1: SIGN UP

    <div class="step_img">
      <%= image_tag('/assets/step1.png')%>
    </div>

  </div>
  <div class="mentor_step">
    STEP 2: Go To Edit Profile
    <div class="step_img">
      <%= image_tag('/assets/step2.png')%>
    </div>
  </div>
  <div class="mentor_step">
    STEP 3: Click <u><i><strong>"Become a Mentor"</strong></i></u>

    <div class="step_img">
      <%= image_tag('/assets/step3.png')%>
    </div>

  </div>
  <div class="mentor_step">
    STEP 4: Fill Out the form (You need <u><i><strong>Paypal Account</strong></i></u> <br>to Receive Money. then Decide your hourly Pay)

    <div class="step_img">
      <%= image_tag('/assets/step4.png')%>
    </div>

  </div>
  <div class="mentor_step">
    STEP 5: Check <u><strong><i>"Activate"</i></strong></u>, and Fill Out Your Profile. <br>
    (Deactivate if you wish to make it unavailable)

    <div class="step_img">
      <%= image_tag('/assets/step5.png')%>
    </div>

  </div>
  <div class="mentor_step">
    STEP 6: Save!

    <div class="step_img">
      <%= image_tag('/assets/step7.png')%>
    </div>

  </div>
</div>

<br>

<div class="steps">
  <div id="step-note">
    How to Use
  </div>
  <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">

            <div id="step" style="float:right;">
              <div class="step_img">
                <%= image_tag('/assets/profile.png', :style => "width:60%;max-width:60%;padding-top:3rem;")%>

              </div>

              <div class="step_overview">
                <h2>

                </h2>
                <h2>
                  STEP 1: Search

                </h2>
                <h3>
                  Search for mentors of your need

                </h3>
              </div>

            </div>


          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">

            <div id="step">
              <div class="step_img">
                <%= image_tag('/assets/sendfile.png', :style => "width:45%;max-width:45%;padding-top:5rem;")%>

              </div>

              <div class="step_overview">
                <h2>

                </h2>
                <h2>
                  STEP 2: Send

                </h2>
                <h3>
                  Send your Essay or Application to Mentor and make an online appointment

                </h3>
              </div>

            </div>


          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">

            <div id="step" style="float:left;">
              <div class="step_img" style="background-size:100%;">
                <%= image_tag('/assets/skype.png', :style => "width:90%;max-width:90%;")%>



              </div>

              <div class="step_overview">
                <h2>

                </h2>
                <h2>
                  STEP 3: Get Consulting

                </h2>
                <h3>
                  Using <strong><u><i>Skype or Google Hangout</i></u></strong>, Consult with the mentor about your essay and school life. <br><strong><i><u>or Get a Coffee in Real Life!</u></i></strong>

                </h3>
              </div>

            </div>


          </div>

  </div>
</div>
<br>

<div class="commission">
  <i>Commission Free Until October!!</i>
</div>
<br><br>


<div class="features">
  <div id="note">
    Features Of Service
  </div>
  <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-4">

            <div id="feature" style="float:right;">
              <div class="feature_img">
                <%= image_tag('/assets/talk.png', :style => "width:80%;max-width:80%;padding-top:3.5rem;")%>

              </div>

              <div class="feature_overview">
                <h2>

                </h2>
                <h2>
                  Real-Time <br>
                  Interaction

                </h2>
                <h3>
                  Our Service aims to create real-time interactions between users

                </h3>
              </div>

            </div>


          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">

            <div id="feature">
              <div class="feature_img">
                <%= image_tag('/assets/paypal.png', :style => "width:65%;max-width:65%;padding-top:2rem;")%>

              </div>

              <div class="feature_overview">
                <h2>

                </h2>
                <h2>
                  Secured Payment

                </h2>
                <h3>
                  Our Service uses Paypal to make international money transaction secured

                </h3>
              </div>

            </div>


          </div>
          <div class="col-md-4 col-sm-4 col-xs-4">

            <div id="feature" style="float:left;">
              <div class="feature_img" style="background-size:100%;">
                <%= image_tag('/assets/team.png', :style => "width:40%;max-width:40%;padding-top:4.5rem;")%>



              </div>

              <div class="feature_overview">
                <h2>

                </h2>
                <h2>
                  Community

                </h2>
                <h3>
                  Our Service provides community platform for users to meet other international students around the globe

                </h3>
              </div>

            </div>


          </div>

  </div>
</div>
<br><br>
