<div class="container-fluid">
  <div class="cat_title" style="color:#555;margin: 2rem auto;width: 40%;text-align:center;font-size: 3rem;border-bottom: 2px solid #555;">
    Search Profiles by Categories

  </div>

  <div class="row col-md-12" style="">


    <!-- <div class="col-md-4">
      <div id="category_list">
        <div class="list_name">
          Specialties
        </div>
        <ul class="cf" >

          <% @specialties.each do |specialty| %>
            <li>

            <%= link_to "/users?utf8=%E2%9C%93&q%5Bspecialties_specialty_cont_any%5D%5B%5D=#{specialty}&q%5Bcountry_cont%5D=&q%5Bcompany_name_cont%5D=&q%5Bschool_cont%5D=&q%5Bmajor_cont%5D=&commit=Search" do %>
              <%= specialty %>


            <% end %>
            </li>
          <% end %>
        </ul>
      </div>

    </div> -->


    <!-- <div class="col-md-4" >
      <div id="category_list">
        <div class="list_name">
          Countries
        </div>
        <ul class="cf" >

          <% @countries.each do |country| %>
          <% unless country == nil || country == "" || country == " " %>

            <li>
            <%= link_to "/users?utf8=%E2%9C%93&q%5Bfullname_or_username_or_country_or_company_name_or_school_or_major_cont%5D=#{country}&button=" do %>
              <%= country %>

            <% end %>
            </li>
          <% end %>
          <% end %>

        </ul>
      </div>
    </div> -->


    <!-- <div class="col-md-4"  >
      <div id="category_list">
        <div class="list_name">
          Companies
        </div>
        <ul class="cf" >

          <% @company_names.each do |company_name| %>
            <% unless company_name == nil || company_name == "" || company_name == " " %>
            <li>
            <%= link_to "/users?utf8=%E2%9C%93&q%5Bfullname_or_username_or_country_or_company_name_or_school_or_major_cont%5D=#{company_name}&button=" do %>
              <%= company_name %>


            <% end %>
            </li>
            <% end %>

          <% end %>
        </ul>
      </div>
    </div> -->
    <div class="row" style="margin:0 auto;">
      <div class="col-md-4" style="margin:0 auto;">
        <div id="category_list">
          <div class="list_name">
            City
          </div>
          <ul class="cf" >

            <% @cities.each do |city| %>
              <% unless city == nil || city == "" || city == " " %>

              <li>
              <%= link_to "/users?utf8=%E2%9C%93&q%5Bfullname_or_username_or_country_or_company_name_or_city_or_major_cont%5D=#{city}&button=" do %>
                <%= city %>


              <% end %>
              </li>
                <% end %>
              <% end %>

          </ul>
        </div>
      </div>
      <div class="col-md-4" style="margin:0 auto;">

        <div id="category_list">
          <div class="list_name">
            Languages
          </div>
          <ul class="cf" >

            <% @languages.each do |language| %>
              <li>
              <%= link_to "/users?utf8=%E2%9C%93&q%5Blanguages_language_cont_any%5D%5B%5D=#{language}&q%5Bcountry_cont%5D=&q%5Bcompany_name_cont%5D=&q%5Bschool_cont%5D=&q%5Bmajor_cont%5D=&commit=Search" do %>

                <%= language %>
              <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>

    <div class="row" style="margin:0 auto;">

      <div class="col-md-4" style="margin:0 auto;">
        <div id="category_list">
          <div class="list_name">
            Schools
          </div>
          <ul class="cf" >

            <% @schools.each do |school| %>
              <% unless school == nil || school == "" || school == " " %>

              <li>
              <%= link_to "/users?utf8=%E2%9C%93&q%5Bfullname_or_username_or_country_or_company_name_or_school_or_major_cont%5D=#{school}&button=" do %>
                <%= school %>


              <% end %>
              </li>
                <% end %>
              <% end %>

          </ul>
        </div>
      </div>
      <div class="col-md-4" style="margin:0 auto;">
        <div id="category_list">
          <div class="list_name">
            Majors
          </div>
          <ul class="cf" >

            <% @majors.each do |major| %>

            <% unless major == nil || major == "" || major == " " %>

              <li>
              <%= link_to "/users?utf8=%E2%9C%93&q%5Bfullname_or_username_or_country_or_company_name_or_school_or_major_cont%5D=#{major}&button=" do %>
                <%= major %>


              <% end %>
              </li>
            <% end %>
            <% end %>

          </ul>
        </div>
      </div>
    </div>



    <!-- <div class="col-md-4" >
      <div id="category_list">
        <div class="list_name">
          Scholarships
        </div>
        <ul class="cf" >

          <% @scholarships.each do |scholarship| %>
            <li>
            <%= link_to "/users?utf8=%E2%9C%93&q%5Bfullname_or_username_or_country_or_company_name_or_school_or_major_cont%5D=#{scholarship}&button=" do %>
              <%= scholarship %>


            <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div> -->


    <!-- <div class="col-md-4" >
      <div id="category_list">
        <div class="list_name">
          Educations
        </div>
        <ul class="cf" >

          <% @educations.each do |education| %>
            <li>
            <%= link_to "/users?utf8=%E2%9C%93&q%5Beducations_education_cont_any%5D%5B%5D=#{education}&button=" do %>
              <%= education %>


            <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div> -->
  </div>


</div>
