<% if(!user_signed_in?) %>

<% else %>
<% if current_user.revisers.present? %>

	<%= render 'shared/profileNavbar' %>
<% end %>

<% end %>
<div class="container3">
<div class="row">

	<div class="col-md-12" style="padding-top:2rem;">
		<div class="panel panel-default" >

		<% if @reservations == nil %>
		<div class="panel-heading">
				You have no Payments made yet
		</div>

			<% else %>

			<div class="panel-heading" style="background-color: rgba(255, 255, 255, 0);">
				Your Payments. <b><i><u>If any problem, send email to</u></i></b>- hello@tweedlemate.com

				<div style="float:right;"> </div>
			</div>

			<% end %>

<% @reservations.each do |reservation| %>
			<div class="panel-body">

				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-7">
						<div class="" style="font-size:2rem;padding-top:1rem;">
							Payment Made :
							<!-- <%= time_ago_in_words(reservation.created_at)  %> -->
							<%= reservation.created_at.strftime("%b %d, %Y")  %>
							<!-- <% unless @user.access == true %>
							<i>(Waiting for Approval)</i>
							<% else %>
							<i>(Premium Access Due : <%= @user.due_date %>)</i>

							<% end %> -->



						</div>

						<!-- <%= render 'shared/essaypageicons', essay: reservation.reviser %> -->
					</div>
					<div class="col-md-2">
						  <!-- <li class="thumbnail2"><%= image_tag(reservation.user.avatar.url(:thumb), :id => "image-tag", class: "portrait") %></li> -->
						  <li class="" style="padding-left:3rem;padding-top:2rem;">To :	<%= reservation.reviser.user.fullname %> </li>
							<div class="name" >

							</div>

					</div>
					<div class="col-md-2 right">
						<li class="" style="padding-left:3rem;padding-top:2rem;list-style:none;">	$ <%= reservation.total %></li>
						<!-- <%= time_ago_in_words(reservation.created_at)  %> -->
					</div>
				</div>

			</div>
<% end %>
		<!-- <div class="panel-footer" style="float:right;">
		Total Payments to Mentors : $<%=@user.total_payment %>
		</div> -->


		</div>
	</div>
</div>
</div>
