

<!-- <div>
  <%= link_to "New Board", new_board_path, class: "button button_highlight" %>
</div> -->


  <% if(!user_signed_in?) %>

  <% else %>
    <% if current_user.revisers.present? %>

    <% end %>

  <% end %>

    <div class="board">



        <div class="wrapper">

          <p style="padding-top: 2rem;font-size: 2rem;">



            <strong><%= @board.title %> !!</strong>

            <br>
            Say Hi, and make some friends!
            <br>
            선배님들이 겪었던 좋은 경험, 힘든 경험들을 공유해주세요!




          </p>
          <div class="cf">
            <%= link_to "New Post", "/boards/#{@board.id}/posts/new", class: "btn btn-primary pull-right" %>
          </div>

        </div>
        <div id="feed" class="cf">
          <div class="post_wrapper">

            <ul class="cf" >
              <% @posts.each do |post| %>
                <li class="cf" >
                  <div class="post_number">

                    <h1>
                    <%= @posts.where(["created_at < ?", post.created_at]).count + 1%>.

                    </h1>

                  </div>

                  <div class="post_thumbnail">
                    <% if post.photo.present? %>
                      <!-- <%= link_to image_tag(post.photo.url(:medium)), [@board, post] %> -->

                    <% end %>
                  </div>
                  <div class="post_overview">
                  <%= link_to [@board, post] do %>
                    <p class="post_link">
                      <%= truncate(post.title, length: 45) %>
                      (<%= post.comments.count %>)

                      <% if post.created_at > Time.now.beginning_of_day %>
                          <%= image_tag('/assets/new.gif')%>
                      <% else %>
                      <%= image_tag('/assets/new.gif')%>

                      <% end %>

                    </p>
                    <!-- <p class="description"><%= truncate(post.title, length: 30) %></p> -->
                    <p class="description">
                      <strong>
                        <%= post.user.fullname %>
                      </strong>

                   <%= post.created_at.strftime("%b %d, %Y") %>
                   </p>
                    <% end %>

                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
    </div>

    <div class="container"  style="display: inline-block;text-align: center;">
        <%= will_paginate @posts, previous_label: "Previous", next_label: "Next" %>

      </div>
<div class="search_container">
<p>
  Search for Post
</p>
  <%= form_tag( board_path, method: :get) do %>
      <%= text_field_tag :search, nil, placeholder: "Search", class: "textbox-search" %>
      <%= button_tag( :class => "btn icon-buttons") do %>
      <i class="fa fa-search" aria-hidden="true"></i>
      <% end %>
  <% end %>
</div>
