<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>


<!-- <div class="wrapper_skinny">
  <%= link_to "New Board", new_board_path, class: "button button_highlight" %>
</div> -->
<div class="wrapper_skinny">
  <!-- <%= link_to "New Post", new_post_path, class: "button button_highlight" %> -->
  <%= link_to "New Post", "http://localhost:3000/boards/#{@board.id}/posts/new", class: "button button_highlight" %>

</div>

<div id="episodes">
  <div class="wrapper_skinny">
    <ul class="cf">
      <% @posts.each do |post| %>
        <li class="cf">
          <div class="episode_thumbnail">

          </div>
          <div class="episode_overview">
            <h2><%= link_to post.title, [@board, post] %></h2>
            <p class="description"><%= truncate(post.title, length: 300) %></p>
            <p class="description">Written By <%= post.user_id %></p>
            <p class="description"><%= time_ago_in_words(post.created_at)  %></p>



          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>












<p>
  <strong>user:</strong>
  <%= @board.user %>










</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
