

      <div id="posts_content">

        <h1>
          Title: <%= @post.title %>
        </h1>
        <% if @post.photo? %>
        <%= image_tag @post.photo.url(:medium) %>

        <% end %>
        <h5>
          <%= link_to @post.user.email, @post.user %> </h5>

        <p>
          <%= markdownify @post.content %> </p>


        <div id="comments">
          <h2>
            <%= @post.comments.count %>
            Comments
          </h2>
              <%= render @post.comments %>
              <h3>Reply to thread</h3>
              <%= render "comments/form" %>
        </div>


        <hr/>
        <div class="edit cf">                  <!-- blooming-shelf-56863.herokuapp.com -->
          <%= link_to "Back to List", "https://localhost:3000/boards/#{@post.board_id}", class: "btn btn-primary", style: "margin: .5rem;" %>
          <%= link_to "New Post", "https://localhost:3000/boards/#{@post.board_id}/posts/new", class: "btn btn-primary", style: "margin: .5rem;" %>

          <% if current_user && @post.user == current_user %>

            <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do this?" }, class: "btn btn-primary edit", style: "margin: .5rem;" %>

            <%= link_to "Edit Post", edit_post_path(@post), class: "btn btn-primary edit", style: "margin: .5rem;" %>


          <% end %>
        </div>


            <div id="below_post" class="cf">
                <h2>
                  Other Posts
                </h2>

                <ul class="cf" >
                  <% @posts.each do |post| %>
                    <li class="cf" >
                      <!-- <%= Post.all.count - post.id %>
                      <%= Post.all.count(:board_id => "1") %>
                      <%= Time.now - post.created_at %> -->
                      <!-- <%= post.created_at.strftime("%Y-%m-%d") %> -->
                      <div class="post_number">
                        <%= link_to [@board, post] do %>

                        <h1>
                        <%= @posts.where(["created_at < ?", post.created_at]).count + 1%>.
                        </h1>
                        <h1>
                          <% if request.url == "https://localhost:3000/boards/#{post.board_id}/posts/#{post.id}" %>

                          Now
                        </h1>
                          <% end %>


                      </div>

                      <div class="post_overview">
                        <h2>
                          <%= post.created_at.strftime("%b %d, %Y") %> :

                          <%= post.title %>

                        </h2>
                      </div>
                      <% end %>

                    </li>
                  <% end %>
                </ul>
            </div>

            <div class="container"  style="display: inline-block;text-align: center;">
            <%= will_paginate @posts, previous_label: "Previous", next_label: "Next" %>

            </div>
        </div>
